<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.alexandregpereira.jerry.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".animation.TextExpandableSpringAnimationActivity" />

        <activity android:name=".animation.TextExpandableAnimationActivity" />

        <activity android:name=".animation.FadeSpringAnimationActivity" />

        <activity android:name=".animation.FadeAnimationActivity" />

        <activity android:name=".animation.CollapseFadingSpringAnimationActivity" />

        <activity android:name=".animation.CollapseFadingAnimationActivity" />

        <activity android:name=".animation.ExpandFadingSpringAnimationActivity" />

        <activity android:name=".animation.ExpandFadingAnimationActivity" />

        <activity android:name=".animation.CollapseSpringAnimationActivity" />

        <activity android:name=".animation.CollapseAnimationActivity" />

        <activity android:name=".animation.ExpandSpringAnimationActivity" />

        <activity android:name=".animation.ExpandAnimationActivity" />

        <activity android:name=".recyclerview.RecyclerViewActivity" />

        <activity android:name=".recyclerview.RecyclerViewSpringActivity" />

        <activity android:name=".recyclerview.GridRecyclerViewActivity" />

        <activity android:name=".recyclerview.GridRecyclerViewSpringActivity" />
    </application>

</manifest>